.game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.game__message {
    height: 32px;
    text-align: center;
}
